.head1{
    background-color: red;
    background-image: url(images/lover.jpg);
    background-repeat: no-repeats;
    background-size: cover;
}
.head1 h1,p{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    text-shadow: 1px 1px 2px rgb(255, 179, 179);
}
 nav{
    background-image: linear-gradient(to right, rgb(118, 118, 255), rgb(255, 125, 147));
 }

 